.App {
  background-color: #111111;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center; 
}

.reverseSwitch {
  position: absolute;
  bottom: 10vh;
  padding: 2vh; 
  transform: scale(2);
}

